@page "/login"
@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>

<p>Redirecting to sign in...</p>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/authentication/login");
    }
}
