@page "/logout"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<PageTitle>Logout</PageTitle>

<p>Signing out...</p>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
